body{
    background-image: url(https://t4.ftcdn.net/jpg/02/56/08/71/360_F_256087153_MqrGfKSWAKUX2xe2i1jNezDgQmiDDjtP.jpg);
    background-size: 60%;
}
.titleCat{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
}
.catContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 24px;                     
    margin-bottom: 10px;
}
.frameDiv{
    width: 300px;


}
.divCard{
    background-color: whitesmoke;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
a{
    width: 100px;
    justify-content: center;
}
.divBtn{
    display: flex;
    justify-content: center;
    width: 250px;
}