.logoMoto{
    width: 100px;
    display: flex;
}
body{
    background-image: url(https://cdn.iris-etourism.io/uploads/aggloissoire/05b/131-244-9565315.webp);
    background-size: cover;
}

.homeTitle{
    margin-top: 40px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 75px;
}

.homeSlogan{
    margin-top: 10px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

.divHomePage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 10px;
    
}
.imgHomePage figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.imgHome{
    width: 139px;
    border-radius: 30px 30px 5px 5px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.85);
}
.imgHome2{
    width: 214px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.85);
}
.imgHome3{
    width: 250px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.85);
}
.imgHome4{
    width: 258px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.85);
}
figcaption{
    margin-bottom: 50px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;    
    
}
.divImg{
    display: flex;
    flex-direction: column;
    margin: auto;
}