h1, h2{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body{
    background: linear-gradient(90deg, rgba(207, 195, 193, 1.000) 0.000%, rgba(205, 192, 190, 1.000) 16.667%, rgba(203, 188, 186, 1.000) 33.333%, rgba(201, 185, 182, 1.000) 50.000%, rgba(198, 181, 179, 1.000) 66.667%, rgba(196, 178, 175, 1.000) 83.333%, rgba(194, 174, 171, 1.000) 100.000%);

}