{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/categorypage.css') }}">
{% endblock %}

{% block body %}
    
    {% include 'layouts/_flash_message.html.twig' %}


        <h2 class="titleCat"> Catégories de produits</h2>

    <div class="container catContainer">
        {% for category in categories %}
            <div class="frameDiv">
            <div class="card divCard"> {{category.name}}
                <div class="divBtn">
                    <a href={{path("app_update_category", {'id':category.id})}} class="btn btn-outline-secondary w-10"> Modifier </a>
                    <a onclick= "return confirm('Voulez vous vraiment supprimer cette catégorie?')" href={{path("app_delete_category", {'id':category.id})}} class="btn btn-danger"> Supprimer </a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
