{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/categorypage.css') }}">
{% endblock %}

{% block body %}
    <h2 class="titleCat"> Catégories de produits</h2>
    
    {% include 'layouts/_flash_message.html.twig' %}

    <div class="container catContainer">
    <div class="frameDiv">
        {% for category in categories %}
            <div class="card divCard"> {{category.name}}
            <a href={{path("app_update_category", {'id':category.id})}} class="btn btn-warning w-10"> Modifier </a>
            <a href={{path("app_delete_category", {'id':category.id})}} class="btn btn-danger"> Supprimer </a>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}
