{% extends 'base.html.twig' %}

{% block title %}Affichage de l'Historique des Stocks {% endblock %}

{% block body %}

<table>
<thead>
    <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>date d'ajout</th>
    </tr>
</thead>

{% for productAdded in productsAdded %}
    <tr>
        <td>{{productAdded.product.Name}}</td>
        <td>{{productAdded.Quantity}}</td>
        <td>{{productAdded.createdAt | date('y-m-d H:i')}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
