{% extends 'base.html.twig' %}

{% block title %}Ajouter du Stock{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-5"> Ajouter du stock pour: {{product.Name}}</h1>
        {{ form_start(form) }}
            {{form_row(form.Quantity, {'attr': {'class':'form form-control mb-3'}}) }}
            <input type="submit" class='btn btn-success btn-block'>
        {{ form_end(form)}}
    </div>
{% endblock %}
