{% extends 'base.html.twig' %}

{% block title %}Modifier Ville{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <h1>Modifier Ville</h1>

    <div class="container">
    {{ include('city/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-outline-secondary" href="{{ path('app_city_index') }}">retour</a>

    {{ include('city/_delete_form.html.twig') }}
    </div>
{% endblock %}
