{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-8">
        <h1 class='mt-4 mb-4'>Commande</h1>
        {{form_start(form)}}
            <input class="btn btn-outline-primary" type="submit" value="Continuer">
        {{form_end(form)}}
        </div>
        <div class="container col-4">
            <span class="mb-2">Montant à Payer : </span>
            <h3>
                <span id="card-price">{{total}}</span> €
            </h3>
            <span>Frais de Livraison</span> 
            <h3 id="shippingCost"></h3> €
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
// <script>
//     $(document).ready(function(){
//        const citySelector = $('#order_city'); //constante citySelector = on selectionne l'élement html qui a pour id "ordercity" et on la stock dans cette constante
//        const cityValue = citySelector.val(); //récupère la valeur actuelle de la valeur citySelector (liste déroulante des villes) et la stock dans la constante cityValue
//         const url = `http://localhost:8000/city/${cityValue}/shipping/cost`;
//         //requete ajax
//         $.ajax({
//             url:url,
//             type:'GET',
//             success:function(response){
//                 const newResponse = JSON.parse(response)
//                 if (parseInt(newResponse.status) === 200){
//                     console.log(newResponse.status)
//                     $("#shippingCost").text(newResponse.content)
//                 }

//             },
//             error:function (xhr, status, error){

//             }
//         })
//         // citySelector.on('change', function()){
//         //     alert('hello world')
//         // }
        
//     })
// </script>
<script>
    $(document).ready(function(){
       const citySelector = $('#order_city');
       const cityValue = citySelector.val();
        // Utiliser une URL relative au lieu d'une URL absolue
        const url = `/city/${cityValue}/shipping/cost`;
        
        //requete ajax
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response){
                const newResponse = JSON.parse(response)
                if (parseInt(newResponse.status) === 200){
                    console.log(newResponse.status)
                    $("#shippingCost").text(newResponse.content)
                }
            },
            error: function (xhr, status, error){
                console.error('Erreur Ajax:', error);
            }
        })
        
        // Activer le changement de ville
        citySelector.on('change', function(){
            const newCityValue = $(this).val();
            const newUrl = `/city/${newCityValue}/shipping/cost`;
            
            $.ajax({
                url: newUrl,
                type: 'GET',
                success: function(response){
                    const newResponse = JSON.parse(response)
                    if (parseInt(newResponse.status) === 200){
                        $("#shippingCost").text(newResponse.content)
                    }
                },
                error: function (xhr, status, error){
                    console.error('Erreur Ajax:', error);
                }
            })
        });
    })
</script>

{% endblock %}
