{% extends 'base.html.twig' %}

{% block title %}Order Message panier validée {% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/orderPage.css') }}">
{% endblock %}



{% block body %}
        <div>
            <h1> Votre commande a bien été enregistrée</h1>
        </div>
{% endblock %}